$bg-color: rgb(230, 230, 230);
$blue-color:rgb(67, 80, 255);

*{
    margin: 0;
    padding:0;
    background-color: $bg-color;
}

header{
    width: 100%;
    height: 50px;
    background-color: $blue-color;
    position:fixed;
    z-index: 5;
    nav{
        background-color: $blue-color;
        margin-left: 35%;
        padding: 12px 0 0 0;
        a{
            background-color: $blue-color;
            margin: 30px;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: 500;
        }
       .active{
            color: rgb(196, 196, 196);
            text-decoration: underline;
        }
    }
}
main{
    position: absolute;
    top: 50px;
}

.post_list{
    position: absolute;
    left: 400px;
    
    .post_item{
        width: 500px;
        margin: 15px;
        border: 2px solid $blue-color;
        border-radius: 10px;
    }
}
.user_list{
    position: absolute;
    left: 400px;
    width: 400px;
    .user_item{
        border: 2px solid $blue-color;
        margin: 15px;
    }
}

.UserForm{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.527);
    justify-content: center;
    align-items: center;
    .user-form-container{
        padding: 25;
        background: white;
        width: 600px;
        height: 400px;
        position: absolute;
        top: 100px;
        left: 300px;
        input{
            width: 300px;
            height: 30px;
            margin: 15px;
        }
    }
}
